 <%= simple_form_for @landing do |f| %>
  <% if @landing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing.errors.count, "error") %> prohibited this landing from being saved:</h2>
      <ul>
      <% @landing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.attachment_field :logo, label: 'Logo' %>
    <%= f.input :title, label: 'Title' %>
    <%= f.input :subtitle, label: 'Subtitle' %>
    <%= f.input :slug, label: 'Slug' %>
    <%= f.attachment_field :hero_image, label: 'Background Image' %>
  <div class="actions">
    <%= f.submit 'Save'%>
  </div>
<% end %>
