 <%= simple_form_for @landing do |f| %>
  <% if @landing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing.errors.count, "error") %> prohibited this landing from being saved:</h2>
      <ul>
      <% @landing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :logo %><br />
      <label class="custom-file">
        <%= f.attachment_field :logo, label: 'Logo', class: 'form-control custom-file-input' %>
        <span class="custom-file-control logo"></span>
      </label>
    </div>
    <div class="form-group">
      <%= f.label :background_image %><br />
      <label class="custom-file">
        <%= f.attachment_field :hero_image, label: 'Background Image', class: 'form-control custom-file-input' %>
        <span class="custom-file-control logo"></span>
      </label>
    </div>
    <%= f.input :title, label: 'Title' %>
    <%= f.input :subtitle, label: 'Subtitle' %>
    <%= f.input :slug, label: 'URL' %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
