<%= content_for :title, @landing.title %>
<%= content_for :meta_description, @landing.subtitle %>

<% if @landing.user == current_user %>
  <%= link_to 'Edit', edit_landing_path(@landing) %> | 
  <%= link_to 'Back', landings_path %>
<% end %>
<div class="hero-bg">
  <%= image_tag attachment_url(@landing, :hero_image), class: 'img-fluid' %>
</div>

<div class="hero">
  <%= image_tag attachment_url(@landing, :logo, :fill, 150, 150) %>
  <h1><%= @landing.title %></h1>
  <p><%= @landing.subtitle %></p>
  <%= simple_form_for @landing do |f| %>
    <%= f.input :title %>
    <%= f.button :submit %>
  <% end %>
  <button class="btn btn-primary">Get on the list</button>
</div>