
<p id="notice"><%= notice %></p>

<h1><%= @landing.title %></h1>
<p><%= @landing.subtitle %></p>
<p><%= @landing.slug %></p>

<%= link_to 'Edit', edit_landing_path(@landing) %> |
<%= link_to 'Back', landings_path %>
