<p id="notice"><%= notice %></p>

<h1>Listing Promo Bars</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Headline</th>
      <th>Link</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promo_bars.each do |promo_bar| %>
      <tr>
        <td><%= promo_bar.title %></td>
        <td><%= promo_bar.headline %></td>
        <td><%= promo_bar.link %></td>
        <td><%= promo_bar.user_id %></td>
        <td><%= link_to 'Show', promo_bar %></td>
        <td><%= link_to 'Edit', edit_promo_bar_path(promo_bar) %></td>
        <td><%= link_to 'Destroy', promo_bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo bar', new_promo_bar_path %>
